@model IEnumerable<MVCBookStore.Models.NHAXUATBAN>
@foreach (var item in Model)
{
    <a href="@Url.Action("SPTheoNXB","BookStore", new { id=item.MaNXB})" class="list-group-item">
        @item.TenNXB
    </a>
}
